// Your custom variables
@font-face {
  font-family: 'Calibre-SemiBold';
  src: url('../font/Calibre-SemiBold.woff') format('woff'),
    url('../font/Calibre-SemiBold.ttf') format('truetype'),
    url('../font/Calibre-Semibold.svg#Calibre-Semibold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre-Medium';
  src: url('../font/Calibre-Medium.woff') format('woff'),
    url('../font/Calibre-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre-Regular';
  src: url('../font/Calibre-Regular.woff') format('woff'),
    url('../font/Calibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// VARIABLES
$primary-color: #f3f9ff;
$secondary-color: #f1f1e6;
$text-white: #ffff;
$dark-mode-color: #1a2b48;
$font-color: #5b5b5b;

// font
$primary-font: 'Calibre-Regular', sans-serif;
$secondary-font: 'Calibre-SemiBold', sans-serif;
$tertiary-font: 'Calibre-Medium', sans-serif;
