.navbar {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}
.back-home {
  font-size: 1.2rem;
  color: $primary-color !important;
  &:hover {
    color: #988345 !important;
  }
}
.svg {
  filter: invert(81%) sepia(15%) saturate(644%) hue-rotate(198deg)
    brightness(118%) contrast(102%);
  &:hover {
    filter: invert(51%) sepia(5%) saturate(3421%) hue-rotate(7deg)
      brightness(101%) contrast(93%);
  }
}
#main {
  h1 {
    color: #988345;
  }

  .card {
    // width: 313px !important;
    background: #30405a !important;
    color: $secondary-color;
    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
      top: -4px;
      // border: 1px solid #988345;
      // background-color: white;
    }
    .card-text {
      color: $secondary-color !important;
    }
    .card-title,
    a {
      color: $primary-color !important;
    }
    .card-title {
      font-weight: 600 !important;
    }
    small {
      color: #bbbbbb !important;
    }
    i:hover {
      color: #988345;
    }
    .img {
      position: relative;
      height: 168.06px;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(152, 131, 69, 0.5) !important;
      height: 168.06px;
    }
  }
}
hr {
  background: #988345;
}
@media (max-width: 599px) {
  #main {
    h1 {
      text-align: center;
    }
  }
}
